.container {
  display: flex;
  height: 100vh;
}

.pdf-section {
  flex: 1;
  border-right: 2px solid #e2e2e2;
  overflow: auto;
  padding: 10px;
}

.text-section {
  width: 40%;
  padding: 20px;
  overflow-y: auto;
}

.ref {
  color: blue;
  cursor: pointer;
  font-weight: bold;
}
